{
	"extends": [
		"@magister_zito",
		"prettier"
	],
	"ignorePatterns": [
		".build",
		"coverage"
	],
	"rules": {
		"@typescript-eslint/no-unsafe-call": "off",
		"@typescript-eslint/no-unsafe-member-access": "off",
		"@typescript-eslint/no-unsafe-argument": "off",
		"@typescript-eslint/no-unsafe-assignment": "off"
	},
	"overrides": [
		{
			"files": ["**/*.ts"],
			"parserOptions": {
				"project": [
					"tsconfig.json", 
					"__tests__/tsconfig.json",
					"examples/tsconfig.json"
				]
			}
		}
	]
}
