sudo: false
language: node_js
node_js:
  - "node"
branches:
  only:
    - master
cache:
  directories:
    - node_modules
before_install:
  - npm update
install:
  - npm install
script:
  - npm run lint
  - npm run test
  - npm run coveralls
  - npm run build
after_success:
  - npm run semantic-release
